
@{
    ViewBag.Title = "DeleteUser";
}

<h1>Ar tikrai norite šalinti vartotoją?</h1>

<div>
    <button class="btn btn-secondary" type="submit" onclick="location.href = '/menu';">Taip</button>
    <button class="btn btn-primary" type="submit" onclick="location.href = '/menu';">Ne</button>
</div>

