
@{
    ViewBag.Title = "PreAddUser";
}

<h2>Registruoti naują vartotoją</h2>

<div class="form-actions no-color">
    <button type="submit" class="btn btn-primary" onclick="location.href = 'AddPatientUser';">Registruoti naują pacientą</button>
    <button type="submit" class="btn btn-success" onclick="location.href = 'AddDoctorUser';">Registruoti naują daktarą</button>
</div>

