
@{
    ViewBag.Title = "SendReminder";
}

<h3>Siųsti priminimą</h3>
<form action="counter" method="post">
    <div>
        <textarea rows="4" cols="50">
Nepamirškite, jog rytoj (25 d.) užregistravote pas daktarą V. Pavardenį 13:30
        </textarea>
        <hr>

        <label for="email"><b>El. paštas</b></label>
        <input type="text" placeholder="stud@ktu.edu" name="email" required>
    </div>
    <div>
        <button class="btn btn-primary" type="submit" onclick="location.href = '/menu';">Siųsti</button>
    </div>
</form>

