@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Ligoninės informacinė sistema</h1>
        <p class="lead">Informacinių sistemų pagrindų IT projektas.</p>

        <p class="lead">
            Planuojame kurti informacinę sistemą ligoninei, kurios pagrindinis tikslas palengvinti
            administracinį darbą ligoninėje. Informacinė sistema bus sudaryta iš 4 posistemių: vartotojų, receptų,
            ligonių apsilankymo, registracijos. Sistema turėti pamažinti administracinio darbo kiekį ligoninės
            personalui ir sudaryti galimybes ligoninės pacientams lengviau registruotis apsilankymams ir
            peržiūrėti savo ligų istoriją ligoninėje.
        </p>
        <h2 style="text-align:center">Komanda</h2>
        <div class="row">
            <div class="col-md-3">
                <h2><i class="fas fa-crown" style="color:#cab019"></i> Rokas <i class="fas fa-crown" style="color:#cab019"></i></h2>
            </div>
            <div class="col-md-3">
                <h3>Vilius</h3>
            </div>
            <div class="col-md-3">
                <h3>Arminas</h3>
            </div>
            <div class="col-md-3">
                <h3>Vytautas</h3>
            </div>
        </div>
    </div>

